/* You can add global styles to this file, and also import other style files */

/* styles.css or app.component.css */
.dark-mode {
    background-color: black;
    color: white;
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }